* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sony bar */

.my_sonybar {
    height: 35px;
    padding-right: 18px;
    text-align: right;
    line-height: 35px;
    background-color: black;
}

.my_sonybar img {
    width: 4%;
    vertical-align: initial;
}

/* Navbar */


/* ------- Main ------- */

/* Jumbotron - Section 1 */

.my_jumbotron-background {
    height: 80vh;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.my_jumbo-logo {
    width: 50%;
}

.my_jumbotron-content {
    height: 100%;
    color: white;
    padding-top: 400px;
}

/* Jumbotron - Section 2 */

.my_jumbo-thumb-img {
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 3px;
}

.my_jumbo-thumb-img:hover {
    border: 2px solid blue;
    cursor: pointer;
}

.my_jumbo-thumb-img > img {
    width: 100%;
    border-radius: 20px;
}

/* Playstation 5 section */

.my_ps5-thumbnail-big img {
    width: 100%;
}

.my_ps5-thumbnails-container {
    width: 100%;
}

.my_ps5-thumbnails-container > img {
    width: 100%;
}

.my_ps5-element > .my_ps5-thumbnails-container {
    border-bottom: 1px solid blue;
}

/* "It Takes Two" section */
