* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sony bar */

.my_sonybar {
    height: 35px;
    padding-right: 18px;
    text-align: right;
    line-height: 35px;
    background-color: black;
}

.my_sonybar img {
    width: 4%;
    vertical-align: initial;
}

/* Navbar */


/* ------- Main ------- */

/* Jumbotron */

.my_jumbotron-background {
    height: 500px;
    background-image: url("img/returnal-thumb.jpg");
    background-size: cover;
}

.my_jumbotron-logo-container {
    width: 150px;
}

.my_jumbotron-logo-container img {
    width: 100%;
}