* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sony bar */

.my_sonybar {
    height: 35px;
    padding-right: 18px;
    text-align: right;
    line-height: 35px;
    background-color: black;
}

.my_sonybar img {
    width: 4%;
    vertical-align: initial;
}

/* Navbar */


/* ------- Main ------- */

/* Jumbotron */

.my_jumbotron-background {
    height: 80vh;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.my_jumbo-logo {
    width: 50%;
}

.my_jumbotron-content {
    height: 100%;
    color: white;
    padding-top: 400px;
}